@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Heebo&display=swap');

.corpo{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
    background-color: #febf39;
  }
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    height: 112px;
    align-items: center;
    
  }
  .logo{
    margin-top: 5px;
    height: 100px; 
    width: 125px;
  
  }
  .header {
    background-color: #3c6ce2;
    width: 100%;
  }
  
  .header .container {
    justify-content: space-between;
    
  }
  
  .header a {
    text-decoration: none;
    color: #e3b062;
    
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
    
  }
  
  
  .titulo {
    color: #febf39;
    width: fit-content;
    font-size: 52px;
    font-weight: bolder;
    
  }

  .c-loader {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3c6ce2;                            
  }

  .c-loader img{
    width: 400px;
    height: 350px;
  }
  .c-loader h1{
    font-size: 150px;
    color: #febf39;
  }
 
  .screen {
      height: 83vh;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .card {
    width: 500px;
    height: 420px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 4px 4px 20px #777;
  }
    .title {
    display: flex;
    font-size: 30px;
    color: #febf39;
    margin-bottom: 30px;
  }

  .card .campos {
    width: 100%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: center;
    flex-direction: column;
  }

  .wrap {
    display: flex;
    flex-direction: column;
    height: 8vh;
    width: 60%;
  }
  
  .wrap input {
    width: 100%;
    height: 3.5vh;
    border-radius: 25px;
    border-width: 1px;
    font-family: 'Bangers', cursive;
    font-size: 12px;
    box-shadow: 1px 1px 2px #777;
    transition: 0.3s ease;
    border: 3px solid #3c6ce2;
  }

  .wrap input:hover {
    border: 3px solid #febf39;
    
  }

  .wrap input:focus {
    box-shadow: 0 0 0 0;
    border: 3px solid #febf39;
    outline: 0;
  }

  .wrap.btn {
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    width: 55%;
    margin-left: 12px;
}

.wrap.btn button{
  height: 40%;
  width: 45%;
  background-color: transparent;
  border: 3px solid #e3b062;
  border-radius: 15px;
  color: #3c6ce2;
  font-family: 'Bangers', cursive;
  font-weight: 500;
  font-size: 2.3vh;
  text-shadow: 1px 1px 2px #777;
  box-shadow: 1px 1px 2px #777;
  transition: 0.3s;
  cursor: pointer;
}

.wrap.btn button:hover {
    border: 3px solid #3c6ce2;
    background-color: #3c6ce2;
    color: #febf39;
    transition: 0.3s;
}

.alerta_erro{
  display: flex;
  justify-content: flex-end;
}

.card_erro {
  display: none;
  background-color: #fff;
  color: #febf39;
  width: 230px;
  position: fixed;
  border-radius: 4px;
  border: #3c6ce2 3px solid;
  padding: 10px;
  margin-right: 10%;
}

.card_erro #mensagem_erro{
  font-weight: 500;
  font-size: 20px;
}

.loading-div {
  width: 20px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}