@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Heebo&display=swap');

.corpo{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
    background-color: #febf39;
  }
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    height: 112px;
    align-items: center;
    
  }
  .logo{
    margin-top: 5px;
    height: 100px; 
    width: 125px;
  
  }
  .header {
    background-color: #3c6ce2;
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  
  .header .container {
    justify-content: space-between;
    
  }
  
  .header a {
    text-decoration: none;
    color: #e3b062;
    
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
    
  }
  
  
  .titulo {
    color: #febf39;
    width: fit-content;
    font-size: 52px;
    font-weight: bolder;
    
  }

  .c-loader {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3c6ce2;                            
  }

  .c-loader img{
    width: 400px;
    height: 350px;
  }
  .c-loader h1{
    font-size: 150px;
    color: #febf39;
  }
  .banner {
    background: linear-gradient(rgba(65, 64, 64, 0.529), rgba(0, 0, 0, 0.7)), url(./assets/img/banner.jpg);
    width: 98.4%;
    height: 90vh;
    padding-top: 33px;
    align-items: center;
    display: flex;
    padding-left: 22px;
  }

  .banner .frase{
    position: absolute;
    color: #febf39;
    font-size: 100px;
    text-align: justify;
  }
  .sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #febf39;
    
  }
  .sobre .title {
    font-size: 48px;
  }
  .sobre .text {
    width: 50%;
    height: flex;
    font-size: 17px;
    color: black;
    font-family: 'Bangers', cursive ;
  }

  .tudo {
    position: absolute;
    top: 112;
  }
  .screen {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .card {
    width: 700px;
    height: 500px;
    background-color: white;
  }
  
  