@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Heebo&display=swap');

.corpo{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
    background-color: #febf39;
  }
  

  .container {
    width: 80%;
    margin: auto;
    display: flex;
    height: 95px;
    align-items: center;
    
  }
  .logo{
    margin-top: 5px;
    height: 100px; 
    width: 125px;
  
  }

  .logo:hover{
    animation: virar 2s linear;
    cursor: pointer;
  }

  .header {
    background-color: #3c6ce2;
    position: fixed;
    z-index: 10;
    width: 100%;
  }
  
  .header .container {
    justify-content: space-between;
    
  }
  
  .header a {
    text-decoration: none;
    color: #e3b062;
    
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
    
  }
  
  
  .titulo {
    color: #febf39;
    width: fit-content;
    font-size: 52px;
    font-weight: bolder;
    
  }

  .c-loader {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3c6ce2;                            
  }

  .c-loader img{
    width: 400px;
    height: 350px;
  }
  .c-loader h1{
    font-size: 150px;
    color: #febf39;
  }
  .banner {
    background: linear-gradient(rgba(65, 64, 64, 0.529), rgba(0, 0, 0, 0.7)), url(./assets/img/banner.jpg);
    width: 100%;
    height: 90vh;
    padding-top: 33px;
    align-items: center;
    display: flex;
    padding-left: 22px;
    min-height: 500px; 
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .banner .frase{
    position: absolute;
    color: #febf39;
    font-size: 100px;
    text-align: justify;
  }
  .sobre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #febf39;
    width: 100%;
    height: 90vh;
    
  }
  .sobre .title {
    font-size: 48px;
  }
  .sobre .text {
    width: 50%;
    height: flex;
    font-size: 17px;
    color: black;
    font-family: 'Bangers', cursive ;
  }

  .tudo {
    position: absolute;
    top: 112;
  }
  .screen {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .card {
    width: 700px;
    height: 500px;
    background-color: white;
  }

  .valores {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #333;
    width: 100%;
    height: 90vh;
  }

  .valores .cards{
    display: flex;
    width: 90%;
    height: 45%;
    font-size: 17px;
    font-family: 'Bangers', cursive ;
    flex-wrap: nowrap;
    justify-content: space-evenly;
  }

  .valores .title {
    font-size: 48px;
    color: #febf39;
  }

  .valores .cards .card{
    display: flex;
    height: 90%;
    background-color: #febf39;
    border-radius: 25px;
    width: 200px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    box-shadow: 5px 5px 40px black  ;
  }

  .valores .cards .card:hover {
    transition: 0.5s;
    box-shadow: 5px 5px 40px #c5c5c5;
  }



  .cards .card .text{
    font-size: 25px;
  }
  .cards .card .text:hover{
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.5); 
    -webkit-text-stroke: 1.5px #666666; 
    transition-timing-function: ease-in-out;
  }
  #comentario {
    position:relative; 
    top:-80px;
    left:170px;
    padding:2px;
    line-height:20px;
    color:#fff;
    display: block;
    width:120px;
    opacity: 0;
   
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
   }
   
   .card:hover  #comentario{
         opacity: 1;
   }

  @keyframes virar {
    to {
      transform: rotate(350deg);
    }
    from {
      transform: rotate(0);
    }
  }

  .footer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 20vh;
      background: linear-gradient(72deg, #e3b062 1%, #febf39 99% );
  }

  *{
    box-sizing: border-box;
  }

  .skins {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(72deg, #3c6ce2 1%, #febf39 99% );
    width: 100%;
    height: 90vh;
  }
  .skins .title {
    font-size: 48px;
    color: #333;
  }

  .skins .carrosel {
    box-shadow: 2px 2px 4px black;
    overflow: hidden;
    height: 400px;
    width: 670px;
    overflow-x: auto;
  }
  .skins .carrosel::-webkit-scrollbar {
    width: 12px;             
  }
  
  .skins .carrosel::-webkit-scrollbar-track {
    background: orange;        
  }
  
  .skins .carrosel::-webkit-scrollbar-thumb {
    background-color: blue;    
    border-radius: 20px;       
    border: 3px solid orange; 
  }

  .items {
    display: flex;
    transition: trasform 0.5s ease-in-out;
    transform: translateX(0);
  }

  .items img{
    object-fit: cover;
    height: 400px;
    width: 670px;
  }
  
  