@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Heebo&display=swap');

.corpo{
    display: none;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Bangers', cursive;
    background-color: #febf39;
  }
  .container {
    width: 80%;
    margin: auto;
    display: flex;
    height: 112px;
    align-items: center;
    
  }
  .logo{
    margin-top: 5px;
    height: 100px; 
    width: 125px;
  
  }
  .header {
    background-color: #3c6ce2;
    width: 100%;
  }
  
  .header .container {
    justify-content: space-between;
    
  }
  
  .header a {
    text-decoration: none;
    color: #e3b062;
    
  }
  
  .navbar {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    color: #e3b062;
    
  }
  
  
  .titulo {
    color: #febf39;
    width: fit-content;
    font-size: 52px;
    font-weight: bolder;
    
  }

  .c-loader {
    position: fixed;
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #3c6ce2;                            
  }

  .c-loader img{
    width: 400px;
    height: 350px;
  }
  .c-loader h1{
    font-size: 150px;
    color: #febf39;
  }
 
  .screen {
      height: 511px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .card {
    width: 900px;
    height: 400px;
    border-radius: 25px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }

  .card .campos {
    width: 50%;
    height: 100%;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .card .imagem {
    width: 50%;
    height: 100%;
    
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    background: linear-gradient(rgba(65, 64, 64, 0.529), rgba(0, 0, 0, 0.7)), url(../assets/img/cadastro.jpg);
  }

  .imagem h2{
    font-size: 77px;
    color: #febf39;
    
  }
  
  .wrap input {
    border-radius: 12px;
    border: 3px solid #3c6ce2;
    width: 200px;
    height: 25px;
  }

  .wrap input:hover {
    border: 3px solid #febf39;
    
  }

  .wrap input:focus {
    box-shadow: 0 0 0 0;
    border: 3px solid #febf39;
    outline: 0;
  }
